html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  height: 667px;
  width: 375px;
  max-width: 375px;
  max-height: 667px;
}

.calculator {
  margin: auto;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 5px;
  border: 0.02px lightgrey solid;
  height: 667px;
  width: 375px;
  background-color: lightgrey;
  box-shadow: 4px 4px 8px 3px #444;
  text-align: center;
}

#title {
  line-height: 5px;
  text-align: center;
  font-family: 'Times', sans-serif;
  font-size: 35px;
  color: darkred;
}

#screen {
  padding-right: 15px;
  line-height: 0px;
  background-color: green;
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 32px;
  font-family: 'Share Tech Mono', monospace;
  height: 55px;
  margin-bottom: 15px;
  border: 2px solid #b4b39d;
}

#output {
  padding-top: 10px;
}

#stored {
  padding-bottom: 2px;
  font-size: 32px;
}

button {
  margin: 5px;
  border-radius: 15px;
  border: 0;
  height: 70px;
  width: 70px;
  outline: none;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0px 2px #222;
}

button:active {
  transform: translateY(1px);
  box-shadow: none;
}

.operators {
  border-color: #666;
  background-color: #666;
  color: white;
}

.controls {
  border-color: #222;
  background-color: #222;
  color: white;
}

.numbers {
  border-color: #000;
  background-color: #000;
  color: white;
}

#clearbtn {
  border-color: #ff0000;
  background-color: #ff0000;
  color: white;
}

#decimalbtn {
  width: 70px;
}

#equalsbtn {
  height: 70px;
}
